<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon.png">
    <title>@ViewData["Title"] - ExpenseTrackerApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ExpenseTrackerApp.styles.css" asp-append-version="true" />
    
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/vendor/toastr/toastr.min.css">
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="header-content">
                        <div class="header-left">
                            <div class="brand-logo">
                                <a class="mini-logo" asp-controller="Home" asp-action="Home">
                                    <img src="~/images/logoi.png" alt="" width="40">
                                </a>
                            </div>
                            <div class="search">
                                <form action="#">
                                    <div class="input-group">
                                        <input type="text" class="form-control" placeholder="Search Here">
                                        <span class="input-group-text"><i class="fi fi-br-search"></i></span>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="dark-light-toggle" onclick="themeToggle()">
                                <span class="dark"><i class="fi fi-rr-eclipse-alt"></i></span>
                                <span class="light"><i class="fi fi-rr-eclipse-alt"></i></span>
                            </div>
                            <div class="dropdown profile_log dropdown">
                                <div data-bs-toggle="dropdown">
                                    <div class="user icon-menu active">
                                        <span><i class="fi fi-rr-user"></i></span>
                                    </div>
                                </div>
                                <div tabindex="-1" role="menu" aria-hidden="true"
                                     class="dropdown-menu dropdown-menu dropdown-menu-end">
                                    <div class="user-email">
                                        <div class="user">
                                            <span class="thumb">
                                                <img class="rounded-full"
                                                     src="~/images/avatar/3.jpg" alt="">
                                            </span>
                                            <div class="user-info">
                                                <h5>@User.Identity.Name</h5>
                                            </div>
                                        </div>
                                    </div>
                                    <a class="dropdown-item" asp-controller="UserManage" asp-action="Profile">
                                        <span><i class="fi fi-rr-user"></i></span>
                                        Profile
                                    </a>
                                    <a class="dropdown-item" asp-controller="Settings" asp-action="General">
                                        <span><i class="fi fi-rr-settings"></i></span>
                                        Settings
                                    </a>
                                    <a class="dropdown-item logout" asp-controller="UserManage" asp-action="SignOut">
                                        <span><i class="fi fi-bs-sign-out-alt"></i></span>
                                        Logout
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="sidebar">
        <div class="brand-logo">
            <a class="full-logo" asp-controller="Home" asp-action="Home">
                <img src="~/images/logoi.png" alt=""
                     width="30">
            </a>
        </div>
        <div class="menu">
            <ul>
                <li>
                    <a asp-controller="Home" asp-action="Home">
                        <span>
                            <i class="fi fi-rr-dashboard"></i>
                        </span>
                        <span class="nav-text">Home</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Budgets">
                        <span>
                            <i class="fi fi-rr-donate"></i>
                        </span>
                        <span class="nav-text">Budgets</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Home" asp-action="Goals">
                        <span>
                            <i class="fi fi-sr-bullseye-arrow"></i>
                        </span>
                        <span class="nav-text">Goals</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="UserManage" asp-action="Profile">
                        <span>
                            <i class="fi fi-rr-user"></i>
                        </span>
                        <span class="nav-text">Profile</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Transaction" asp-action="Analytics">
                        <span>
                            <i class="fi fi-rr-chart-histogram"></i>
                        </span>
                        <span class="nav-text">Analytics</span>
                    </a>
                </li>
                <li>
                    <a asp-controller="Settings" asp-action="General">
                        <span>
                            <i class="fi fi-rs-settings"></i>
                        </span>
                        <span class="nav-text">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/js/scripts.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js" asp-append-version="true"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="~/vendor/circle-progress/circle-progress-init.js"></script>
    <script src="~/vendor/chartjs/chartjs.js"></script>
    <script src="~/js/plugins/chartjs-bar-income-vs-expense.js"></script>
    <script src="~/js/plugins/chartjs-bar-weekly-expense.js"></script>
    <script src="~/js/plugins/chartjs-profile-wallet.js"></script>
    <script src="~/js/plugins/chartjs-profile-wallet2.js"></script>
    <script src="~/js/plugins/chartjs-profile-wallet3.js"></script>
    <script src="~/js/plugins/chartjs-profile-wallet4.js"></script>
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script src="~/js/plugins/perfect-scrollbar-init.js"></script>
    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/chartjs/chartjs.js"></script>
    <script src="~/js/plugins/chartjs-bar-budget-period.js"></script>
    <script src="~/js/plugins/circle-progress-init.js"></script>
    <script src="~/js/plugins/chartjs-donut.js"></script>
    <script src="~/js/plugins/chartjs-line-balance-wallet.js"></script>
    <script src="~/js/plugins/chartjs-line-total-balance.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
