<body class="dashboard">
    <div id="main-wrapper">
        <div class="authincation">
            <div class="container">
                <div class="row justify-content-center align-items-center g-0">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body text-center">
                                <div class="py-5">
                                    <h1>Bad Request</h1>
                                    <p>Page not found</p>
                                    <a asp-controller="Home" asp-action="Home" class="btn btn-primary mt-3">Home</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
</body>
