@model List<Message>

@{
    foreach (Message message in Model)
    {
        <a class="">
            <div class="d-flex align-items-center">
                <span class="me-3 icon @message.IconBackground">
                    <i class="fi @message.IconType"></i>
                </span>
                <div>
                    <p>@message.Description</p>
                    <span>@message.Date</span>
                </div>
            </div>
        </a>
    }
}
