@model ExpenseTrackerApp.Models.ApplicationUser

<body class="dashboard">
    <div id="main-wrapper">
        <div class="content-body">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page-title">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-xl-4">
                                    <div class="page-title-content">
                                        <h3>Profile</h3>
                                        <p class="mb-2">Welcome Trackify Finance Management</p>
                                    </div>
                                </div>
                                <div class="col-auto">
                                    <div class="breadcrumbs">
                                        <a href="#">Home </a>
                                        <span><i class="fi fi-rr-angle-small-right"></i></span>
                                        <a href="#">Profile</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="profile-name">
                                    <div class="d-flex">
                                        <img src="./images/avatar/1.jpg" alt="">
                                        <div class="flex-grow-1">
                                            <h4 class="mb-0">@Model.ApplicationUserName</h4>
                                            <p>@Model.Email</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="profile-reg">
                                    <div class="registered">
                                        <h5>@Model.registeredSince.ToString("d MMMM yyyy")</h5>
                                        <p>Registered</p>
                                    </div>
                                    <span class="reg_divider"></span>
                                    <div class="rank">
                                        <h5>Referral</h5>
                                        <p>05</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-8">
                        <div class="tab-content profile-wallet-tab">
                            <div class="tab-pane fade show active" id="city-bank">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="wallet-progress-data">
                                            <div class="d-flex justify-content-between">
                                                <div>
                                                    <span>Spend</span>
                                                    <h3>$1458.30</h3>
                                                </div>
                                                <div class="text-end">
                                                    <span>Budget</span>
                                                    <h3>$1458.30</h3>
                                                </div>
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar" style="width: 25%;" role="progressbar">
                                                </div>
                                            </div>
                                            <div class="d-flex justify-content-between mt-2">
                                                <span>25%</span>
                                                <span>75%</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="~/Views/Footer/_Footer.cshtml" />
    </div>
</body>
